<div class="container">
	<table class="table">
		<tr>
			<td>No. of users</td>
			<td><%= @users.count %></td>
		</tr>
		<tr>
			<td>No. of posts</td>
			<td><%= @posts.count %></td>
		</tr>
		<tr>
			<td>No. of comments</td>
			<td><%= @comments.count %></td>
		</tr>
	</table>
</div>