// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply {
	background-color: #ccc;
	margin-top: 1em;
}

#bs-example-navbar-collapse-1 {
	position: relative;
}

.navbar-fixed-top {
    padding-top: 30px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    margin-bottom: 40px;
    position: relative;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

#nav {
    float: right;
}